{% assign blog_comments = comments %}

<div class="article {% unless article.image %} no-image {% endunless %}">

  <div class="article__content_wrapper">

    <div class="flex">

      {% if article.image %}
        <a href="{{ article.url }}">
          <figure
            class="article__img lazyload no-js"
            data-bgset="{% include 'bgset', image: article.image %}"
            data-widths="[220,440,880]"
            data-sizes="auto"
            data-parent-fit="cover"></figure>
          <noscript>
            <figure class="article__img" style="background-image:url('{{ article.image | img_url: '440x440', scale: 2 }}')">
              <img
                class="no-js lazyload"
                src="{{ article.image | img_url: '440x440' }}"
                srcset="{{ article.image | img_url: '440x440' }} 1x, {{ article.image | img_url: '440x440', scale: 2 }} 2x"
                alt="{{ article.image.alt }}">
            </figure>
          </noscript>
        </a>
      {% endif %}

      <div class="article__content{% if centered %} text-center{% endif %}">
        {% render 'article-tag', article: article %}

        <h2 class="h3 article__title">
          <a href="{{ article.url }}">
            {{ article.title }}
          </a>
        </h2>
        {% include 'blog_meta' with blog_comments %}

        <div class="article__excerpt rte">
          <p>{{ article.excerpt_or_content | strip_html | truncatewords: 25 }}</p>
          {% if social %}
            <div>
              {% include 'page_share', article: article %}
            </div>
          {% endif %}
        </div>

      </div>

    </div>

  </div>

</div>