<div class="video-resource-item" data-youtube-id="{{ youtube }}">
  <div class="item-inner">
    <div class="thumbnail-image"><img src="{{ image.src }}" alt="{{ image.alt }}" /></div>
    <div class="video-play-icon">
      <img src="{{ 'video-play.png' | asset_url }}" alt="video play" />
    </div>
    <div class="video-title">
      {{ title }}
    </div>
  </div>
</div>