<div class="video-resource-item">
    <div class="item-inner">
        <div class="thumbnail-image">
            <a href="{{ youtube }}" target="_blank">
                <img src="{{ image.src }}" alt="{{ image.alt }}" />
            </a>
        </div>
        <div class="video-play-icon">
            <img src="{{ 'video-play.png' | asset_url }}" alt="video play" />
        </div>
        <div class="video-title">
        {{ title }}
        </div>
    </div>
</div>