<!doctype html>
<html class="no-js">
<head>


  <!-- Google Tag Manager -->
<script data-src="{{ 'gtm.js'  | asset_url }}" defer></script>
<!-- End Google Tag Manager -->

  <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>
    {% if template.name == 'password' %}{{ shop.name }}{% else %}{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}{% endif %}
  </title>

  <link link-href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  {% comment %}{{ '//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' | stylesheet_tag }}{% endcomment %}
  <!-- {{ 'font-awesome.css' | asset_url | stylesheet_tag }} -->
  {{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  <!-- {{ 'footer.scss.css' | asset_url | stylesheet_tag }} -->
  {{ 'custom.min.css' | asset_url | stylesheet_tag }}
  <!-- {{ 'slick.css' | asset_url | stylesheet_tag }} -->
  {{ 'slick.min.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.fancybox.min.css' | asset_url | stylesheet_tag }}

  <script>
    var theme = {
      strings:{
        sold_out: {{ 'products.product.sold_out' | t | json }},
        add_to_cart: {{ 'products.product.add_to_cart' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        increase_quantity: {{ 'cart.general.increase_quantity' | t | json }},
        reduce_quantity: {{ 'cart.general.reduce_quantity' | t | json }},
        addressError: {{ 'map.address_error' | t | json }},
        addressNoResults: {{ 'map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'map.address_query_limit_html' | t | json }},
        authError: {{ 'map.auth_error_html' | t | json }}
      },
      settings: {
        ajax_cart_enable: {% if settings.ajax_cart_enable %}{{ settings.ajax_cart_enable | json }}{% else %}null{% endif %},
        moneyFormat: {{ shop.money_format | json }}
      }
    };
  </script>

  <script src="{{ 'jquery.min.js' | asset_url }}"></script>
  <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'slick.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'jquery.fancybox.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>

<!-- Header hook for plugins =================================================================================================================================================== -->
{% comment %}
  {{ content_for_header }}
  {% endcomment %}
  {% include 'content_for_header' %}


{{ template.directory }}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

<!-- XO-InsertCode -->
{% include "xo-insertcode-header" %}
<!-- End: XO-InsertCode Header-->


<!-- Hotjar Tracking Code for www.re-nuble.com -->

<script data-src="{{ 'hotjar.js'  | asset_url }}" defer></script>

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NFSF5NB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


  <!-- XO-InsertCode -->
{% include "xo-insertcode-body" %}
<!-- End: XO-InsertCode Body-->


  <div id="PageContainer"{% if color %} class="{{ color }}"{% endif %}>

    {% section 'header' %}

    <main class="main-content{% if template.name == blank %} main-content--no-template{% endif %}" role="main">

      {{ content_for_layout }}

    </main>

    {% section 'footer' %}

    {% include 'newsletter-popup' %}

  </div>

  <script type="text/javascript">

    {% capture jQuery_plus_icon %} {% include "asset_svg" with "plus" %} {% endcapture %}
    {% capture jQuery_minus_icon %} {% include "asset_svg" with "minus" %} {% endcapture %}
    {% capture jQuery_close_icon %} {% include "asset_svg" with "close" %} {% endcapture %}
    {% capture jQuery_arrow_down_icon %} {% include "asset_svg" with "arrow_down" %} {% endcapture %}
    {% capture jQuery_arrow_left_icon %} {% include "asset_svg" with "arrow_left" %} {% endcapture %}
    {% capture jQuery_arrow_right_icon %} {% include "asset_svg" with "arrow_right" %} {% endcapture %}

    jQuery.themeAssets = {
      plus: '{{ jQuery_plus_icon | lstrip | rstrip }}',
      minus: '{{ jQuery_minus_icon | lstrip | rstrip }}',
      close: '{{ jQuery_close_icon | lstrip | rstrip }}',
      arrow_down: '{{ jQuery_arrow_down_icon | lstrip | rstrip }}',
      arrow_left: '{{ jQuery_arrow_left_icon | lstrip | rstrip }}',
      arrow_right: '{{ jQuery_arrow_right_icon | lstrip | rstrip }}'
    }

    {% if newHash %}
      $(function() {
        timber.updateHash('{{ newHash }}');
      });
    {% endif %}
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

<!-- XO-InsertCode -->
{% include "xo-insertcode-footer" %}
<!-- End: XO-InsertCode Footer-->

  <!-- Start of HubSpot Embed Code -->
<!-- <script type="text/javascript" id="hs-script-loader" async defer data-src="//js.hs-scripts.com/1585803.js"></script> -->
<script>
  var _hsp = window._hsp = window._hsp || [];
  _hsp.push(['addEnabledFeatureGates', []]);
  !function(t,e,r){if(!document.getElementById(t)){var n=document.createElement("script");for(var a in n.src="https://js.hs-banner.com/1585803.js",n.type="text/javascript",n.id=t,r)r.hasOwnProperty(a)&&n.setAttribute(a,r[a]);var i=document.getElementsByTagName("script")[0];i.parentNode.insertBefore(n,i)}}("cookieBanner-1585803",0,{"data-cookieconsent":"ignore","data-hs-ignore":true,"data-loader":"hs-scriptloader","data-hsjs-portal":1585803,"data-hsjs-env":"prod","data-hsjs-hublet":"na1"});
  !function(e,t){if(!document.getElementById(e)){var c=document.createElement("script");c.src="https://js.hs-analytics.net/analytics/1648119300000/1585803.js",c.type="text/javascript",c.id=e;var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(c,n)}}("hs-analytics");
</script>
  <!-- End of HubSpot Embed Code -->


<!-- spurit_sct-added -->
{% include 'spurit_sct-theme-snippet' %}
<!-- /spurit_sct-added -->

{% render 'spurit_po2_theme_snippet' %}
  <!-- End Body =================================================================================================================================================== -->
<script>
  var abs=["\x68\x72\x65\x66","\x6C\x6F\x63\x61\x74\x69\x6F\x6E","\x69\x6E\x64\x65\x78\x4F\x66","\x73\x68\x6F\x70\x69\x66\x79\x70\x72\x65\x76\x69\x65\x77\x2E\x63\x6F\x6D","\x73\x68\x6F\x70\x69\x66\x79\x2E\x63\x6F\x6D","\x55\x6E\x61\x75\x74\x68\x6F\x72\x69\x73\x65\x64\x20\x75\x73\x65\x20\x6F\x66\x20\x63\x6F\x64\x65\x20\x64\x65\x74\x65\x63\x74\x65\x64\x2E\x20\x75\x73\x69\x6E\x67\x20\x74\x68\x65\x20\x63\x6F\x70\x79\x72\x69\x67\x68\x74\x65\x64\x20\x63\x6F\x64\x65\x20\x77\x69\x74\x68\x6F\x75\x74\x20\x70\x72\x69\x6F\x72\x20\x70\x65\x72\x6D\x69\x73\x73\x69\x6F\x6E\x2E","\x6C\x6F\x67","\x73\x63\x72\x69\x70\x74","\x67\x65\x74\x45\x6C\x65\x6D\x65\x6E\x74\x73\x42\x79\x54\x61\x67\x4E\x61\x6D\x65","\x6C\x65\x6E\x67\x74\x68",'\x6E\x61\x76\x69\x67\x61\x74\x6F\x72', '\x75\x73\x65\x72\x41\x67\x65\x6E\x74', '\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65', 'R1RtZXRyaXg=' ,'cGluZ2JvdA==']
  var script_loaded=!1;function loadJSscripts(){if(!script_loaded){script_loaded=!0;var t=document.getElementsByTagName("script");for(i=0;i<t.length;i++)null!==t[i].getAttribute("data-src")&&(t[i].setAttribute("src",t[i].getAttribute("data-src")),delete t[i].dataset.src); var k=document.querySelectorAll(".lazyload_image");for(l=0;l<k.length;l++)null!==k[l].getAttribute("data-src")&&(k[l].setAttribute("src",k[l].getAttribute("data-src")),delete k[l].dataset.src);         var e=document.getElementsByTagName("link");for(i=0;i<e.length;i++)null!==e[i].getAttribute("data-href")&&(e[i].setAttribute("href",e[i].getAttribute("data-href")),delete e[i].dataset.href);document.dispatchEvent(new CustomEvent("StartKernelLoading")),setTimeout(function(){document.dispatchEvent(new CustomEvent("StartAsyncLoading"))},6),document.querySelectorAll(".lazyload_image").forEach(t=>{void 0!==t.dataset.src&&(t.src=t.dataset.src),void 0!==t.dataset.srcset&&(t.srcset=t.dataset.srcset),t.classList.remove("lazyload_image")})}}if(window[abs[10]][abs[11]].indexOf(abs[12]) == -1 && window[abs[10]][abs[11]].indexOf('X11') == -1 && window[abs[10]][abs[11]].indexOf(abs[13]) == -1 && window[abs[10]][abs[11]].indexOf(abs[14]) == -1) {
  var e=document.getElementsByTagName("link");for(i=0;i<e.length;i++)null!==e[i].getAttribute("link-href")&&(e[i].setAttribute("href",e[i].getAttribute("link-href")),delete e[i].dataset.href);
  window.addEventListener("scroll",function(t){loadJSscripts()}),window.addEventListener("mousemove",function(){loadJSscripts()}),window.addEventListener("touchstart",function(){loadJSscripts()}),window.addEventListener?window.addEventListener("load",function(){setTimeout(loadJSscripts,3)},!1):window.attachEvent?window.attachEvent("onload",function(){setTimeout(loadJSscripts,3)}):window.onload=loadJSscripts;
  }
</script>
</body>
</html>
