<div class="home-image-list-wrapper index-section home-section text-center">
  <div class="home-image-list">
  	<div class="wrapper certificate-lists">
        <h2>{{ section.settings.title }}</h2>

    	  <div class="certificate-list-blog">
    		{% for block in section.blocks %}
            <div class="slider-item">
              <div class="slider-box">
                <div class="image-wrap">
                  {% if block.settings.link != blank %}
                  <a href="{{ block.settings.link }}" target="_blank">
                  {% endif %}
                    {% if block.settings.image != blank %}
                      {% assign img_url = block.settings.image | img_url: 'master' %}
                      <img class="no-js lazyload" src="{{ img_url }}" alt="{{ block.settings.image.alt }}">
                    {% else %}
                      {{ 'logo' | placeholder_svg_tag: 'clients-list placeholder-svg' }}
                    {% endif %}
                  {% if block.settings.link != blank %}
                    </a>
                  {% endif %}
                </div>
                  <h3>
                    {% if block.settings.link != blank %}
                      <a href="{{ block.settings.link }}">
                    {% endif %}

                      {{ block.settings.title }}

                    {% if block.settings.link != blank %}
                      </a>
                    {% endif %}
                  </h3>
              </div>
            </div>
    		{% endfor %}
    	  </div>
  	</div>
  </div>
</div>

{% schema %}
{
  "name": "Certificate Lists",
  "max_blocks": 20,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "image_list",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Certificate Lists",
      "category": "Image",
      "blocks": [
        {
          "type": "image_list"
        }
      ]
    }
  ]
}
{% endschema %}
