<div id="home-image-list" class="index-section home-section text-center">
  <div class="home-image-list">
	<div class="wrapper">
      <h2>{{ section.settings.title }}</h2>

  	  <div class="why_reunble_slider">
        {}
  		{% for block in section.blocks %}
          <div class="slider-item">
            <div class="slider-box">
              <div class="image-wrap">

                {% if block.settings.link != blank %}
                    <a href="{{ block.settings.link }}" target="_blank">
                {% endif %}

                  {% if block.settings.image != blank %}
                    {% assign img_url = block.settings.image | img_url: 'master' %}
                    <img
                      class="no-js lazyload"
                      width="180"
                      height="180"
                      data-src="{{ img_url }}"
                      data-widths="[320, 360, 375, 414]"
                      alt="{{ block.settings.image.alt }}"
                    >
                  {% else %}
                    {{ 'logo' | placeholder_svg_tag: 'clients-list placeholder-svg' }}
                  {% endif %}
                {% if block.settings.link != blank %}
                  </a>
                {% endif %}
              </div>
                <h4>{{ block.settings.title }}</h4>
                <p>{{ block.settings.img_txt }}</p>
            </div>
          </div>
  		{% endfor %}
  	  </div>

      {% comment %} {% if section.settings.showcontact %}
        <a class="btn btn--regular btn--fill btn--color" href="/pages/contact-us">Contact an expert</a>
      {% endif %} {% endcomment %}
	</div>
  </div>
</div>
<style>

</style>


{% schema %}
{
  "name": "Image Logo list",
  "max_blocks": 20,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "image_list",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "img_txt",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Client Logo Carousal list",
      "category": "Image",
      "blocks": [
        {
          "type": "image_list"
        }
      ]
    }
  ]
}
{% endschema %}
