
<footer id="site-footer">
  <div class="footer-logo text-center wrapper">
    {% if section.settings.footer_logo != blank %}
    {%- assign img_url = section.settings.footer_logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

    <a href="/" itemprop="url" class="footer__logo-link">
      <img class="no-js lazyload supports-js"
        data-src="{{ img_url }}"
        data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
        data-aspectratio="{{ section.settings.footer_logo.aspect_ratio }}"
        data-sizes="auto"
        alt="{{ section.settings.footer_logo.alt | escape | default: shop.name }}">
      <noscript>
        <img src="{{ section.settings.footer_logo | img_url: image_size }}"
          srcset="{{ section.settings.footer_logo | img_url: image_size }} 1x, {{ section.settings.footer_logo | img_url: image_size, scale: 2 }} 2x"
          alt="{{ section.settings.footer_logo.alt | default: shop.name }}"
          itemprop="logo">
      </noscript>
    </a>
  {% else %}
    <a href="/" itemprop="url" class="site-header__logo-text">{{ shop.name }}</a>
  {% endif %}
  </div>

  <div class="wrapper">
    <div class="footer-blocks">
      <!-- {% for block in section.blocks %}
        {% case block.type %}
          {% when 'text' %}

          <div class="footer-section">
            <h3 class="footer-title">{{ block.settings.title | escape }}</h3>
            <div class="footer-content">
              {{ block.settings.richtext }}
            </div>
          </div>
          {% when 'menu' %}
            <div class="footer-section">
              <h3 class="footer-title">{{ block.settings.menu_title | escape }}</h3>
              <ul {{ block.shopify_attributes }}>
                {% for link in linklists[block.settings.menu].links %}
                  <li><a href={{link.url}} {% if link.type == "http_link" %}target="_blank"{% endif %}>{{ link.title}}</a></li>
                {% endfor %}
              </ul>
            </div>
        {% endcase %}
      {% endfor %} -->

      <div class="footer-section">
        <h3 class="footer-title">ABOUT</h3>
        <div class="footer-content">
          <p>
            Re-Nuble's nutrient delivery system's production of biologically active compounds from robust bacterial communities, 
            allows for lower nitrate concentrations (in ppms). A farm is able to achieve similar crop growth at a fraction of 
            the nitrate concentration due to robust micro bacterial activity. 
          </p>
        </div>
      </div>
  
      <div class="footer-section">
        <h3 class="footer-title">CONTACT</h3>
        <div class="footer-content">
          <p>
            <strong>Re-Nuble</strong>
            <br />
            Address, NY
            <br />
            555-555-5555
            <br />
            info@renuble.com
            <br />
            sales@renuble.com
          </p>
        </div>
      </div>

      {% if section.settings.footer_footer_search %}
      <div class="footer-section search-section">
        <h3 class="footer-title">SEARCH</h3>
        <div class="footer-content">
          <form action="/search" method="get" class="footer-search-form text-center" role="search">
            <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="Search">
            <button type="submit" class="btn btn--regular btn--dark btn--fill">
              SEARCH
            </button>
          </form>
        </div>
      </div>
      {% endif %}
    </div>

    <div class="social-icons__list">
      {% include 'footer_social-icons' %}
    </div>
  </div>
  {% render 'footer_social-icons' %}
</footer>


{% schema %}
{
	"name": "Footer",
	"max_blocks": 6,
	"settings": [{
			"type": "image_picker",
			"id": "footer_logo",
			"label": {
				"de": "Logo-Foto",
				"en": "Logo image",
				"es": "Imagen del logotipo",
				"fr": "Image du logo",
				"it": "Immagine del logo",
				"ja": "ロゴ画像",
				"nl": "Afbeelding van logo",
				"pt-BR": "Imagem do logotipo",
				"zh-CN": "logo 图片",
				"zh-TW": "標誌圖片"
			},
			"info": {
				"de": "200px breites .png empfohlen",
				"en": "200px wide .png recommended",
				"es": "200px de ancho .png recomendado",
				"fr": "200 px wide .png recommandé",
				"it": "File .png con larghezza di 200 pixel consigliato",
				"ja": "200ピクセル幅.png推奨",
				"nl": "200px breed .png aanbevolen",
				"pt-BR": ".png com 200 px de largura recomendado",
				"zh-CN": "建议使用 200 px 宽的 .png",
				"zh-TW": "200px wide .png建議"
			}
		},
		{
			"type": "checkbox",
			"id": "footer_footer_search",
			"label": "Enable Footer Search",
			"default": true
		}
	],
	"blocks": [{
			"type": "menu",
			"name": "Menu For Linklists Only",
			"settings": [{
					"type": "text",
					"id": "menu_title",
					"label": "Heading",
					"default": "Links"
				},
				{
					"type": "link_list",
					"id": "menu",
					"label": "Menu"
				}
			]
		},
		{
			"type": "text",
			"name": "Text",
			"settings": [{
					"type": "text",
					"id": "title",
					"label": "Heading",
					"default": "Contact us"

				},
				{
					"type": "richtext",
					"id": "richtext",
					"label": "Text"
				}
			]
		}
	]
}
{% endschema %}
