<div id="home-our-community" class="index-section home-section text-center">
    <div class="wrapper">
        <h2>{{ section.settings.title }}</h2>
        <div class="community-item-lists">
            {% for block in section.blocks %}
            <div class="slider-item">
                <div class="slider-box">
                    <div class="image-wrap">
                        {% if block.settings.link != blank %}
                        <a href="{{ block.settings.link }}" target="_blank">
                        {% endif %}
                        {% if block.settings.image != blank %}
                            {% assign img_url = block.settings.image | img_url: 'master' %}
                            <img class="no-js lazyload" src="{{ img_url }}">
                        {% else %}
                            {{ 'logo' | placeholder_svg_tag: 'clients-list placeholder-svg' }}
                        {% endif %}
                        {% if block.settings.link != blank %}
                        </a>
                        {% endif %}
                    </div>
                    <h3>
                    {% if block.settings.link != blank %}
                        <a href="{{ block.settings.link }}">
                    {% endif %}
    
                        {{ block.settings.title }}
    
                    {% if block.settings.link != blank %}
                        </a>
                    {% endif %}
                    </h3>
                    {% assign cnt = block.settings.stars | plus: 0 %}
                    <div class="stars">
                        {% for i in (1..5) %}
                            {%  if i <= cnt %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="28" viewBox="0 0 30 28" fill="none">
                                <path d="M15 0L18.3677 10.3647H29.2658L20.4491 16.7705L23.8168 27.1353L15 20.7295L6.18322 27.1353L9.55093 16.7705L0.734152 10.3647H11.6323L15 0Z" fill="#019577"/>
                            </svg>
                            {%  else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="28" viewBox="0 0 30 28" fill="none">
                                <path d="M15 3.23607L17.4167 10.6738L17.6412 11.3647H18.3677H26.1882L19.8613 15.9615L19.2735 16.3885L19.498 17.0795L21.9147 24.5172L15.5878 19.9205L15 19.4934L14.4122 19.9205L8.08533 24.5172L10.502 17.0795L10.7265 16.3885L10.1387 15.9615L3.81184 11.3647H11.6323H12.3588L12.5833 10.6738L15 3.23607Z" stroke="#019577" stroke-width="2" fill="none"/>
                            </svg>
                            {%  endif %}
                        {% endfor %}
                    </div>
                    <p>
                        {{ block.settings.content }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
"name": "Community Item Lists",
"max_blocks": 20,
"settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Title"
    }
],
"blocks": [
    {
    "type": "community_lists",
    "name": "Image",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content"
        },
        {
            "type": "select",
            "id": "stars",
            "label": "Stars",
            "default": "5",
            "options": [
                {
                    "value": "5",
                    "label": "5"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "1",
                    "label": "1"
                }
            ]
        }
    ]
    }
],
"presets": [
    {
        "name": "Community Item Lists",
        "category": "Image",
        "blocks": [
            {
                "type": "community_lists"
            }
        ]
    }
]
}
{% endschema %}
