<div class="wrapper wrapper--margins">

  <div class="text-center">

    {% if section.settings.newsletter_enable %}

    <div class="password-form">
      {% form 'customer' %}
        {% if form.posted_successfully? %}
          <p class="password-form-heading">{{ 'general.password_page.signup_form_success' | t }}</p>
        {% else %}
          {{ form.errors | default_errors }}
          <h3 class="password-form-heading">{{ section.settings.newsletter_form_heading | escape }}</h3>
          {% unless section.settings.newsletter_form_subheading == blank %}
            {{ section.settings.newsletter_form_subheading }}
          {% endunless %}
          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <label for="email" class="hidden-label">{{ 'general.password_page.signup_form_email_label' | t }}</label>
          <div class="password-input-group clearfix">
            <input type="text" name="contact[email]" id="email" placeholder="{{ section.settings.newsletter_placeholder | escape }}" autofocus>
            <input type="submit" class="btn btn--regular btn--fill btn--color" name="commit" value="{{ section.settings.newsletter_button_text | escape }}">
          </div>
        {% endif %}
      {% endform %}
    </div>

    {% endif %}

    {% if section.settings.show_share_buttons %}
      {% include 'page_share' %}
    {% endif %}

  </div>

  <footer id="password-footer" role="contentinfo">

    {% capture shopify %}
      <a class="shopify-link" href="//www.shopify.com" rel="nofollow" target="_blank" title="Create your own online store with Shopify">
        <span aria-hidden="true">{% include 'asset_svg' with 'shopify' %}</span>
        <span class="text shopify-name">Shopify</span>
      </a>
    {% endcapture %}

    {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}

  </footer>

</div>



{% schema %}
{
  "name": {
    "de": "Inhalt",
    "en": "Content",
    "es": "Contenido",
    "fr": "Contenu",
    "it": "Contenuto",
    "ja": "コンテンツ",
    "nl": "Inhoud",
    "pt-BR": "Conteúdo",
    "zh-CN": "内容",
    "zh-TW": "內容"
  },
  "class": "password-content-section password-page-section",
  "settings": [
    {
      "type": "header",
      "content": {
        "de": "Newsletter",
        "en": "Newsletter",
        "es": "Boletín",
        "fr": "Newsletter",
        "it": "Newsletter",
        "ja": "メールマガジン",
        "nl": "Nieuwsbrief",
        "pt-BR": "Newsletter",
        "zh-CN": "新闻通讯",
        "zh-TW": "電子報"
      }
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": {
        "de": "Newsletter Signup zeigen",
        "en": "Show newsletter signup",
        "es": "Mostrar suscripción al boletín",
        "fr": "Afficher l'inscription à la newsletter",
        "it": "Mostra iscrizione alla newsletter",
        "ja": "メールマガジンの登録を表示する",
        "nl": "Aanmelden voor nieuwsbrief weergeven",
        "pt-BR": "Exibir assinatura da newsletter",
        "zh-CN": "显示新闻通讯注册",
        "zh-TW": "顯示訂閱電子報"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": {
        "de": "Newsletter-Formular Titel",
        "en": "Newsletter form heading",
        "es": "Título del formulario de boletín",
        "fr": "Titre du formulaire de la newsletter",
        "it": "Titolo del modulo della newsletter",
        "ja": "メールマガジンフォームの見出し",
        "nl": "Kop van nieuwsbriefformulier",
        "pt-BR": "Título do formulário da newsletter",
        "zh-CN": "标题中的新闻通讯",
        "zh-TW": "電子報表單標題"
      },
      "default": {
        "de": "Herausfinden, wann wir öffnen",
        "en": "Find out when we open",
        "es": "Averigua cuándo abrimos",
        "fr": "Restez au courant de notre date de lancement",
        "it": "Scopri quando apriamo",
        "ja": "開店を知らせる",
        "nl": "Ontdek wanneer we open zijn",
        "pt-BR": "Fique por dentro quando abrirmos a loja",
        "zh-CN": "了解我们的开业时间",
        "zh-TW": "瞭解我們的開張時間"
      },
      "info": {
        "de": "[Informieren Sie Ihre Besucher über einen Rabatt am Tag der Shop-Eröffnung](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "en": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "es": "[Informa a tus visitantes sobre un descuento del día de lanzamiento](https://es.shopify.com/blog/15567552-14-maneras-de-utilizar-las-ofertas-cupones-y-descuentos-para-generar-ganancias-y-lealtad-del-cliente).",
        "fr": "[Annoncez une réduction à vos visiteurs pour le jour du lancement](https://fr.shopify.com/blog/57222917-14-manieres-dutiliser-les-codes-promo-bons-de-reduction-coupons-et-remises-pour-generer-des-revenus-et-fideliser-les-clients).",
        "it": "[Informa i tuoi visitatori su uno sconto previsto il giorno del lancio](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "ja": "[訪問者に発売日の割引について伝える](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。",
        "nl": "[Vertel uw bezoekers over kortingen op openingsdag](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "pt-BR": "[Informe seus visitantes sobre um desconto de lançamento](https://pt.shopify.com/blog/aplicativos-de-desconto).",
        "zh-CN": "[告诉访客您的推出日折扣](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。",
        "zh-TW": "[通知訪客上市日折扣活動](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。"
      }
    },
    {
      "type": "richtext",
      "id": "newsletter_form_subheading",
      "label": {
        "de": "Untertitel für Newsletter-Formular",
        "en": "Newsletter form subheading",
        "es": "Subtítulo del formulario del boletín",
        "fr": "Sous-titre du formulaire de la newsletter",
        "it": "Sottotitolo del modulo della newsletter",
        "ja": "メールマガジンフォームの小見出し",
        "nl": "Subkop van nieuwsbriefformulier",
        "pt-BR": "Subtítulo do formulário da newsletter",
        "zh-CN": "副标题中的新闻通讯",
        "zh-TW": "電子報表單副標題"
      },
      "default": {
        "de": "<p>Werbeaktionen, neue Produkte und Sonderangebote. Direkt in Ihrem Posteingang.</p>",
        "en": "<p>Promotions, new products and sales. Directly to your inbox.</p>",
        "es": "<p>Promociones, nuevos productos y ofertas. Directamente a tu bandeja de entrada.</p>",
        "fr": "<p>Promotions, nouveaux produits et soldes. Directement dans votre boîte de réception.</p>",
        "it": "<p>Promozioni, nuovi prodotti e offerte. Direttamente nella tua inbox.</p>",
        "ja": "<p>プロモーション、新商品、セールについて、あなたの受信箱に直接知らせる。</p>",
        "nl": "<p>Promoties, nieuwe producten en uitverkoop rechtstreeks in uw inbox.</p>",
        "pt-BR": "<p>Promoções, novos produtos e ofertas, diretamente em sua caixa de entrada.</p>",
        "zh-CN": "<p>促销、新产品和销售。直接发送到您的收件箱。</p>",
        "zh-TW": "<p>讓您直接在收件匣內收取促銷活動、最新產品和特賣活動訊息。</p>"
      }
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": {
        "de": "Platzhaltertext für Newsletter",
        "en": "Newsletter placeholder text",
        "es": "Texto de marcador de posición del boletín",
        "fr": "Texte du paramètre fictif de la newsletter",
        "it": "Testo del segnaposto della Newsletter",
        "ja": "メールマガジンのプレースホルダテキスト",
        "nl": "Plaatsaanduidingstekst nieuwsbrief",
        "pt-BR": "Texto do marcador de posição da newsletter",
        "zh-CN": "新闻稿占位符文本",
        "zh-TW": "電子報預留位置文字"
      },
      "default": {
        "de": "Ihre E-Mail-Adresse",
        "en": "Your email",
        "es": "Tu correo electrónico",
        "fr": "Votre e-mail",
        "it": "Indirizzo email",
        "ja": "メールアドレス",
        "nl": "Uw e-mailadres",
        "pt-BR": "Seu e-mail",
        "zh-CN": "您的电子邮件",
        "zh-TW": "您的電子郵件"
      }
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": {
        "de": "Text für Newsletter-Schaltfläche",
        "en": "Newsletter button text",
        "es": "Texto del botón del boletín",
        "fr": "Texte du bouton de la newsletter",
        "it": "Testo del pulsante Newsletter",
        "ja": "メールマガジンボタンのテキスト",
        "nl": "Tekst knop nieuwsbrief",
        "pt-BR": "Texto do botão da newsletter",
        "zh-CN": "新闻稿按钮文本",
        "zh-TW": "電子報按鈕文字"
      },
      "default": {
        "de": "Eingabe",
        "en": "Submit",
        "es": "Enviar",
        "fr": "Envoyer",
        "it": "Invia",
        "ja": "送信する",
        "nl": "Verzenden",
        "pt-BR": "Enviar",
        "zh-CN": "提交",
        "zh-TW": "提交"
      }
    },
    {
      "type": "header",
      "content": {
        "de": "Social Sharing",
        "en": "Social sharing",
        "es": "Compartir en redes sociales",
        "fr": "Partage social",
        "it": "Condivisione sui social",
        "ja": "ソーシャル共有",
        "nl": "Delen via social media",
        "pt-BR": "Compartilhamento social",
        "zh-CN": "社交分享",
        "zh-TW": "社群分享"
      }
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "de": "Social-Sharing-Schaltflächen anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fr": "Afficher les boutons de partage social",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンを表示する",
        "nl": "Knoppen voor sociaal delen weergeven",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "zh-CN": "显示社交分享按钮",
        "zh-TW": "顯示社群分享按鈕"
      },
      "default": true
    }
  ]
}
{% endschema %}
