
{% assign press_articles = page.metafields.custom.press_articles %}
{% for scheme in settings.color_schemes -%}
  {% style %}
    --color-button: {{ scheme.settings.button.red }},{{ scheme.settings.button.green }},{{ scheme.settings.button.blue }};
  {% endstyle %}
{% endfor %}
{% if section.blocks.size > 0 %}
  {% if press_articles %}
    <div class="flex flex-wrap press-articles">
      {% for press in section.blocks %}
        <div class="press-article">
            {% if press.settings.featured_image %}
              <div class="press-article__image">
                <div class="press-article__image-wrapper">
                  {% assign featured_image = press.settings.featured_image %}
                  <img width="auto" height="auto" src="{{ featured_image | image_url: width: '200x' }}"/>
                </div>
              </div>
            {% endif %}
            <div class="press-article__content">
              <h3 class="h4">{{ press.settings.title }}</h3>
              <div class="press-article__content-bottom">
                {% if press.settings.url != blank %}
                  <a class="button button--primary" target="_blank" href="{{ press.settings.url }}">Read More</a>
                {% endif %}
                {% if press.settings.company_logo %}
                  {% assign company_logo = press.settings.company_logo %}
                  <div class="press-article__logo">
                    <img width="auto" height="auto" src="{{ company_logo | image_url: width: '120x' }}"/>
                  </div>
                {% endif %}
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endif %}

{{ 'component-press.css' | asset_url | stylesheet_tag }}

{% schema %}
  {
    "name": "Press",
    "class": "page-width",
    "settings": [],
    "presets": [
      {
        "name": "Press articles",
        "settings": {
        },
      }
    ],
    "blocks": [
      {
        "type": "press",
        "name": "Press Article",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          },
          {
            "type": "image_picker",
            "id": "featured_image",
            "label": "Featured Image"
          },
          {
            "type": "image_picker",
            "id": "company_logo",
            "label": "Logo"
          },
        ]
      }
    ]
  }
{% endschema %}
