<div
  class="product-template"
  itemscope
  itemtype="http://schema.org/Product"
  id="ProductSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true">

  {% assign offerText = product.metafields.offer_text.offer_text %}
  {% assign hideBanner = product.metafields.accentuate.hide_banner %}

  {% unless hideBanner %}
    {% if offerText != '' %}
      <div class="header__custom display-table offer_text">
        <div class="display-table-cell prlx-txt">
          <div class="wrapper">
            {{ product.metafields.offer_text.offer_text }}
          </div>
        </div>
      </div>
    {% endif %}
  {% endunless %}

  {% assign header_title = product.title %}

  <div class="wrapper product-wrapper">

    <div class="product grid small-gutter">

      {% assign current_variant = product.selected_or_first_available_variant %}
      {% assign featured_image = current_variant.featured_image | default: product.featured_image %}

      <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
      <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

      <div class="product__image grid__item one-half medium-down--one-whole">
        <div id="slider-{{ section.id }}" class="regular-slider flexslider">
          <ul class="slides">
            {% if product.images.size > 0 %}
              {%- assign img_url = featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <li
                class="slide"
                data-index="0"
                data-variant-img="{{ featured_image.id }}">
                <a class="image-popup">
                  <div class="lazyload__image-wrapper supports-no-js" style="padding-top:{{ 1 | divided_by: featured_image.aspect_ratio | times: 100}}%;">
                    <img
                      class="no-js lazyload"
                      src="{{ featured_image | img_url: '300x300' }}"
                      data-src="{{ img_url }}"
                      data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                      data-aspectratio="{{ featured_image.aspect_ratio }}"
                      data-sizes="auto"
                      data-parent-fit="width"
                      alt="{{ featured_image.alt | escape }}">
                  </div>
                  <noscript>
                    <img
                      src="{{ featured_image | img_url: '1024x1024' }}"
                      srcset="{{ featured_image | img_url: '1024x1024' }} 1x, {{ featured_image | img_url: '1024x1024', scale: 2 }} 2x"
                      alt="{{ featured_image.alt }}"
                      style="opacity:1;">
                    <style>
                      .flexslider .slides li {
                        display: block;
                      }
                    </style>
                  </noscript>
                </a>
              </li>
              {% if product.images.size > 1 %}
                {% assign index = 0 %}
                {% for image in product.images %}
                  {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  {% unless image contains featured_image %}
                    {% assign index = index | plus: 1 %}
                    <li
                      class="slide"
                      data-index="{{ index }}"
                      data-variant-img="{{ image.id }}">
                      <a class="image-popup">
                        <div class="lazyload__image-wrapper supports-no-js" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
                          <img
                            class="no-js lazyload"
                            data-src="{{ img_url }}"
                            data-widths="[320, 360, 375, 414, 568, 684, 720, 732, 736, 768, 1024, 1200, 1296, 1512, 1728, 1944, 2048, 4472]"
                            data-aspectratio="{{ image.aspect_ratio }}"
                            data-sizes="auto"
                            data-parent-fit="width"
                            alt="{{ image.alt | escape }}">
                        </div>
                      </a>
                    </li>
                  {% endunless %}
                {% endfor %}
              {% endif %}
            {% else %}
              <li class="slide">
                {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
              </li>
            {% endif %}
          </ul>
        </div>
        {% if section.settings.social_sharing_products %}
          {% include 'page_share' %}
        {% endif %}
      </div>

      <div class="product__content grid__item one-half medium-down--one-whole">

        <h1>{{ product.title }}</h1>

        <div
          style="{% if product.metafields.accentuate.hide_price %}display: none;{% endif %}"
          itemprop="offers"
          itemscope
          itemtype="http://schema.org/Offer">

          <meta itemprop="priceCurrency" content="{{ shop.currency }}" />

          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          {% form 'product', product, data-productid: product.id %}

            {% if product.compare_at_price_max > product.price %}
              <span id="ComparePriceA11y" class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
            {% else %}
              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            {% endif %}
            <span
              id="ProductPrice-{{ section.id }}"
              class="h1 price"
              itemprop="price"
              content="{{ current_variant.price | divided_by: 100.00 }}">
              {{ current_variant.price | money }}
            </span>

            {% if product.compare_at_price_max > product.price %}
              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
              <p id="ComparePrice-{{ section.id }}" class="h3 price compare-price">
                {{ current_variant.compare_at_price | money }}
              </p>
            {% endif %}

            <div class="form__row{% if product.has_only_default_variant and product.available == false %} form__row--no-variants-sold-out{% endif %}">

              <select
                name="id" data-productid="{{ product.id }}"
                id="productSelect-{{ section.id }}"
                class="product-single__variants">
                {% for variant in product.variants %}
                  {% if variant.available %}

                    <option
                      {% if variant == current_variant %}
                      selected="selected"
                      {% endif %}
                      data-sku="{{ variant.sku }}"
                      value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                  {% else %}
                    <option disabled="disabled">
                      {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                    </option>
                  {% endif %}
                {% endfor %}
              </select>

              <!-- Begin ReCharge code -->
                {% if product.available %}{% include 'subscription-product' with product as product %}{% endif %}
            <!-- End ReCharge code -->

              <div id="quantity-selector-{{ section.id }}" class="form__column quantity-selector">
                <input
                  type="number"
                  id="Quantity"
                  name="quantity"
                  value="1"
                  min="1"
                  class="qty-remove-defaults quantity-selector">
              </div>

              <div class="form__column{% if section.settings.enable_payment_button %} form__column--shopify-payment-btn{% endif %}">
                <button
                  type="submit"
                  name="add"
                  id="AddToCart-{{ section.id }}"
                  class="btn btn--fill btn--regular btn--color{% if section.settings.enable_payment_button %} btn--shopify-payment-btn btn--secondary-accent{% endif %}">
                  <span id="AddToCartText-{{ section.id }}">{{ 'products.product.add_to_cart' | t }}</span>
                </button>
                <input
                  type="hidden"
                  name="return_to"
                  value="/checkout/" />
                {% if section.settings.enable_payment_button %}
                  {{ form | payment_button }}
                {% endif %}
              </div>
            </div>
            {%- if product.metafields.accentuate.limit_count -%}
              {% assign inventory_pos = current_variant.inventory_quantity | times: -1 %}
              {% assign inventory_available = product.metafields.accentuate.limit_count | minus: inventory_pos %}
              <span
                id="unit-limit-{{ section.id }}"
                class="h6"
                data-unit-limit="{{ product.metafields.accentuate.limit_count }}">
                <strong>Only {{ inventory_available }} units available -- pre-order now!</strong>
              </span>
            {%- endif -%}

            {%- if product.metafields.accentuate.calculator_button -%}
              <a
                data-fancybox
                data-src="#product-calulator"
                class="btn btn--regular btn--fill btn--color">{{ product.metafields.accentuate.calculator_button_text | default: 'CALCULATOR' }}</a>
            {%- endif -%}

          {% endform %}

        </div>

        {% if product.metafields.accentuate.hide_price %}
          <a
            href="/pages/contact-us"
            style="margin-top: 2rem;"
            class="btn btn--regular btn--fill btn--alert">Contact Us for Pricing</a>
        {% endif %}

        <div class="product-description rte" itemprop="description">
          {{ product.description }}
          {%- if product.metafields.download_button.size > 0 -%}
            <div class="product-download-buttons">
              {%- for download in product.metafields.download_button.file_url -%}
                <div class="download-button">
                  <a
                    download
                    href="{{ product.metafields.download_button.file_url[forloop.index0] }}"
                    target="_blank">
                    {{ product.metafields.download_button.button_text[forloop.index0] }}
                    <span>{% render 'icon-download' %}</span>
                  </a>
                </div>
              {%- endfor -%}
            </div>
          {%- endif -%}
        </div>

        {% if product.metafields.tab_title.tab_title %}
          <div
            class="product-accordion"
            data-section-id="{{ section.id }}"
            data-section-type="product-accordion">
            <div class="jumpstart-accordion">
              {% for tab in product.metafields.tab_title.tab_title %}
                <div class="section section-{{ block.id }} {% if forloop.first == true %}opened{% endif %}">
                  <h3 class="h4 title">{{ tab }}</h3>
                  <div class="content">{{ product.metafields.tab_content.tab_content[forloop.index0] }}</div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% if product.metafields.product_reviews.size > 0 %}
          <div class="reviews-section">
            <div class="reviews-wrapper">
              <div class="reviews-slider" data-max-slides="1">
                {% for product_review in product.metafields.product_reviews.review_title %}
                  {% assign review_icon = product.metafields.product_reviews.review_icon[forloop.index0] %}
                  {% assign star_count = product.metafields.product_reviews.review_score[forloop.index0] | plus: 0 %}
                  {% assign review_text = product.metafields.product_reviews.review_description[forloop.index0] %}
                  {% assign review_title = product.metafields.product_reviews.review_title[forloop.index0] %}
                  {% render 'review-item', icon: review_icon, star_count: star_count, text: review_text, title: review_title %}
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    {% unless product.metafields.hide_fields.hide_perfect_for_growing %}
      {% if product.metafields.image.image %}
        <div class="perfect_growing_section text-center">
          <h2>{{ section.settings.perfect_title }}</h2>
          <div class="slick-slider common-slider">
            {% for multi_images in product.metafields.image.image %}
              {% for image in multi_images %}
                <div class="slider-item"><img
                    class="no-js lazyload"
                    src="{{ image.src }}"
                    alt="{{ image.alt }}" /></div>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endunless %}

    {% if product.metafields.title.title %}
      <div class="analysis_section text-center">
        <h2>{{ section.settings.guarantedd_title }}</h2>
        <ul class="analysis_list">
          {% for title in product.metafields.title.title %}
            <li>
              <div class="inner-wrap" style="background: {{ product.metafields.accentuate.background_color[forloop.index0] }}">
                <div class="inner-content">
                  <span class="title">{{ title }}</span>
                  <span class="percentage">{{ product.metafields.percentage.percentage[forloop.index0] }}</span>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
        {% unless product.metafields.guaranteed_analysis.text_hidden %}
          <div class="description_text">
            {{ product.metafields.guaranteed_analysis.guaranteed_analysis_bottom_tex }}
          </div>
        {% endunless %}
      </div>
    {% endif %}
  </div>

  {% if product.metafields.resources.videos.size > 0 %}
    <div class="videos-section">
      <div class="wrapper">
        <h2 class="text-center">{{ section.settings.perfect_title }}</h2>
        <div class="videos-grid">
          {% for reference_to in product.metafields.resources.videos.references %}
            {% assign title = shop.metafields.globals.resource_title[reference_to.index] %}
            {% assign youtube = shop.metafields.globals.resource_video_url[reference_to.index] %}
            {% assign image = shop.metafields.globals.resource_image[reference_to.index] | first %}
            {% render 'video-resource-item' title: title, youtube: youtube, image: image %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if product.metafields.resources.pdfs.size > 0 %}
    <div class="resources-section">
      <div class="wrapper">
        <h2 class="text-center">{{ section.settings.perfect_title }}</h2>
        <div class="resources-list">
          {% for reference_to in product.metafields.resources.pdfs.references %}
            {% assign title = shop.metafields.globals.resource_title[reference_to.index] %}
            {% assign pdf = shop.metafields.globals.resource_pdf[reference_to.index] | first %}
            {% if pdf %}
              {% assign pdf_src = pdf.src %}
            {% endif %}
            <div class="resource-item">
              <div class="resource-item__title">
                <div class="number-box">{{ forloop.index }}</div>
                <p>{{ title }}</p>
              </div>
              <div class="resource-item__download">
                <img src="{{ 'download.png' | asset_url }}" alt="download" />
                <a href="{{ pdf_src }}" download>Download Resource</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {% unless product.metafields.hide_fields.hide_calculator %}
    {% if section.settings.enable_calulator %}
      <div class="product-calulator-wrap">
        <div class="wrapper text-center">
          <h2 class="calculator-title">{{ section.settings.calulator_title }}</h2>
          <a
            data-fancybox
            data-src="#product-calulator"
            class="btn btn--regular btn--fill btn--color">CALCULATOR</a>
        </div>
      </div>
    {% endif %}
  {% endunless %}

  {% unless product.metafields.hide_fields.hide_calculator and product.metafields.accentuate.calculator_button == false %}
    {% render 'calculator-popup' %}
  {% endunless %}

  {% if product.metafields.faq.size > 0 %}
    <div class="faqs-section">
      <div class="wrapper">
        <h2 class="text-center">FAQ</h2>

        {% for faq in product.metafields.faq.question %}

          {% if product.metafields.faq.question[forloop.index0] != blank or
 product.metafields.faq.answer[forloop.index0] != blank
 %}
            <div class="faq-block">

              {% if product.metafields.faq.question[forloop.index0] != blank %}
                <h4 class="faq-question">{{ product.metafields.faq.question[forloop.index0] }}</h4>
              {% endif %}

              {% if product.metafields.faq.answer[forloop.index0] != blank %}
                <div class="faq-answer">
                  {{ product.metafields.faq.answer[forloop.index0] }}
                </div>
              {% endif %}

            </div>
          {% endif %}

        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if section.settings.how_to_make_title != blank or section.settings.how_to_make_top_content != blank or section.settings.how_to_make_image != blank %}

    <div class="how_make_section text-center">
        <div class="wrapper">
        <h2>{{ section.settings.how_to_make_title }}</h2>
        <div class="how_make_content">
            <h3>{{ section.settings.how_to_make_top_content }}</h3>
            {{ section.settings.how_to_make_image | img_url: 'master' | img_tag }}
            <h4>{{ section.settings.how_to_make_botton_content }}</h4>
        </div>
        </div>
    </div>
{% endif %}

  <div class="not_sure_section text-center">
    <div class="wrapper wrapper--margins">
      <h2>Still not sure?</h2>
      <span>See Our
        <a href="/pages/faq">FAQs</a>
      </span>
      <a class="btn btn--regular btn--fill btn--color" href="/pages/contact-us">Contact Us</a>
    </div>
  </div>

  <div id="video-modal" class="video-modal">
    <div class="close-modal-icon">+</div>
        <div class="video-modal__container">
        <iframe
            width="560"
            height="315"
            src=""
            frameborder="0"
            allowfullscreen></iframe>
        </div>
  </div>
</div>


{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}


<script>
  jQuery(document).ready(function($) {
    $('.faq-question').click(function(e) {
      if ($(this).hasClass('active') == true) {
        $(this).next('.faq-answer').slideUp(300);
        $(this).removeClass("active");
      } else {
        $('.faq-block').find('.faq-answer').slideUp(300);
        $('.faq-question').removeClass("active");

        $(this).next('.faq-answer').slideDown(300);
        $(this).addClass("active");
      }
      return false;
    });

    $('.reviews-slider').slick({
      loop: true,
      dots: false,
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: false
    });

    /*$('.video-resource-item').click(function(e) {
      $('#video-modal').addClass('open');
      $('#video-modal iframe').attr('src', 'https://www.youtube.com/embed/' + $(this).data('youtube-id') + '?autoplay=1');
    });

    $('#video-modal .close-modal-icon').click(function(e) {
      $('#video-modal').removeClass('open');
      $('#video-modal iframe').attr('src', '');
    });*/
  });
</script>

{% schema %}
  {
    "name": {
      "de": "Produktseiten",
      "en": "Product pages",
      "es": "Páginas de productos",
      "fr": "Pages de produits",
      "it": "Pagine di prodotto",
      "ja": "商品ページ",
      "nl": "Productpagina's",
      "pt-BR": "Páginas de produtos",
      "zh-CN": "产品页面",
      "zh-TW": "產品頁面"
    },
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_payment_button",
        "label": {
          "de": "Dynamischen Checkout Button anzeigen",
          "en": "Show dynamic checkout button",
          "es": "Mostrar botón de pago dinámico",
          "fr": "Afficher le bouton de passage à la caisse dynamique",
          "it": "Mostra pulsante di check-out dinamico",
          "ja": "ダイナミックチェックアウトボタンを表示する",
          "nl": "Dynamische checkout knop weergeven",
          "pt-BR": "Exibir botão dinâmico de finalização da compra",
          "zh-CN": "显示动态结账按钮",
          "zh-TW": "顯示動態結帳按鈕"
        },
        "info": {
          "de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in Ihrem Shop verfügbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Infos](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "es": "Cada cliente verá su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "fr": "Chaque client verra son moyen de paiement préféré parmi ceux qui sont proposés sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "it": "Ogni cliente vedrà il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "ja": "PayPalやApple Payなど、ストアで利用可能な希望の決済方法がお客様に表示されます。[もっと詳しく](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "pt-BR": "Cada cliente verá seu método de pagamento preferido dentre os disponíveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "zh-CN": "每位客户都可在您商店提供的付款方式中看到他们的首选付款方式，例如 PayPal 或 Apple Pay。[了解详细信息](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "zh-TW": "每位客戶都可以在您商店內開放使用的付款方式中看見他們偏好使用的方式，如 PayPal、Apple Pay 等。[深入瞭解相關資訊](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
        },
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_sharing_products",
        "label": {
          "de": "Teilen von Produkten aktivieren",
          "en": "Enable product sharing",
          "es": "Habilitar compartir productos",
          "fr": "Activer le partage de produits",
          "it": "Permetti condivisione del prodotto",
          "ja": "商品の共有を有効にする",
          "nl": "Schakel het delen van producten in",
          "pt-BR": "Habilite o compartilhamento de produtos",
          "zh-CN": "启用产品分享",
          "zh-TW": "啟用產品分享"
        },
        "default": true
      },
      {
        "type": "text",
        "id": "perfect_title",
        "label": "Perfect for Growing Title",
        "default": "Perfect for Growing..."
      },
      {
        "type": "text",
        "id": "guarantedd_title",
        "label": "Guaranteed analysis Title",
        "default": "Guaranteed Analysis"
      }, {
        "type": "checkbox",
        "id": "enable_calulator",
        "label": "Enable Calulator",
        "default": true
      }, {
        "type": "text",
        "id": "calulator_title",
        "label": "Calculator Title",
        "default": "Use our calculator to calculate your potential costs and impact to your bottom line"
      }, {
        "type": "text",
        "id": "how_to_make_title",
        "label": "How we make Title",
        "default": "How We Make Our Products"
      }, {
        "type": "richtext",
        "id": "how_to_make_top_content",
        "label": "How we make Top Content"
      }, {
        "type": "image_picker",
        "id": "how_to_make_image",
        "label": "Image"
      }, {
        "type": "richtext",
        "id": "how_to_make_botton_content",
        "label": "How we make Bottom Content"
      }
    ]
  }
{% endschema %}