<div
  class="page-width quotes-section"
  data-section-id="{{ section.id }}"
  data-section-type="quotes">
  <div class="wrapper">
    {% if section.settings.title != blank %}
      <div class="section-header text-center">
        <h2>{{ section.settings.title | escape }}</h2>
      </div>
    {% endif %}

    {% if section.blocks.size > 0 %}
      <div class="quotes-wrapper">
        <div class="quotes-slider-wrapper">
          <div class="quotes-slider" id="Quotes-{{ section.id }}">
            {% for block in section.blocks %}
              <div
                id="slickSlide{{ block.id }}"
                class="quotes-slide quotes-slide--{{ block.id }}{% if section.blocks.size == 1 %} quotes-slide--single{% endif %}"
                aria-labelledby="slickDot{{ block.id }}"
                {{ block.shopify_attributes }}>

                <blockquote class="quotes-slider__text text-center">
                  {% if block.settings.image %}
                    {% assign img_url = block.settings.image | img_url: 'master' %}
                    <div class="quotes-slider__image">
                      <img
                        class="no-js lazyload"
                        width="50"
                        height="50"
                        src="{{ img_url }}"
                        alt="{{ block.settings.title }}">
                    </div>
                  {% else %}
                    <span class="quotes-icon">{% include 'icon-quote' %}</span>
                  {% endif %}
                  {% if block.settings.title %}
                    <h3>{{ block.settings.title }}</h3>
                  {% endif %}
                  {% if block.settings.quote != blank %}
                    <div class="quotes-slider__quote">
                      {{ block.settings.quote }}
                    </div>
                  {% endif %}
                  {% if block.settings.author != blank %}
                    <cite>
                      <strong>{{ block.settings.author | escape }}</strong>
                    </cite>
                  {% endif %}
                  {% if block.settings.author_title != blank %}
                    <cite>{{ block.settings.author_title | escape }}</cite>
                  {% endif %}
                </blockquote>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if section.blocks.size == 0 %}
      {% include 'no-blocks' %}
    {% endif %}
  </div>
</div>


{% schema %}
  {
    "name": "Testimonials",
    "class": "index-section",
    "max_blocks": 9,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Testimonials"
      }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "Testimonial",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Company",
            "default": "Company name"
          },
          {
            "type": "richtext",
            "id": "quote",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }, {
            "type": "text",
            "id": "author_title",
            "label": "Farm Name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Text",
        "blocks": [
          {
            "type": "quote"
          }, {
            "type": "quote"
          }, {
            "type": "quote"
          }
        ]
      }
    ]
  }
{% endschema %}