{% assign header_title = page.title %}
<div class="wrapper wrapper--margins wrapper__article">
    <div class="header__narrow">
        <h1 itemprop="name">{{ header_title }}</h1>
    </div>
  <div>
    {% if section.blocks %}
      {% assign available_tags = '' %}
      {% for block in section.blocks %}
        {% if block.settings.tag %}
          {% assign tags_lower = available_tags | downcase %}
          {% assign tag_lower = block.settings.tag | downcase %}
          {% unless tags_lower contains tag_lower %}
            {% assign available_tags = available_tags | append: tag_lower | append: ',' %}
          {% endunless %}
        {% endif %}
      {% endfor %}
      {% unless available_tags == '' %}
        {% assign tags_array = available_tags | split: "," %}
        <div class="blog-tag-filter-wrapper">
          <label class="blog-tag-filter-label">Search by topic</label>
          <select name="blog-filter" class="blog-tag-filter">
            <option
              value=""
              disabled
              selected>Choose a topic</option>
            {% for tag in tags_array %}
              <option value="{{ tag }}">{{ tag | capitalize }}</option>
            {% endfor %}
          </select>
          <script>
            // blogs/recipes/tagged/tagname
            const $selects = document.querySelectorAll('.blog-tag-filter') // where "xxx" is the id of your select (you'll need to add an id)
            $selects.forEach($select => {
              $select.onchange = function() {
                var selectedOption = this.value;
                var shopURL = '{{ shop.url }}'
                window.location.href = shopURL + '/blogs/re-nuble/tagged/' + selectedOption;
              }
            })
          </script>
        </div>
      {% endunless %}
      <div class="resource-icons">
        {% for block in section.blocks %}
          {% assign tag_name = block.settings.tag %}
          {% assign icon_url = block.settings.icon | img_url: 'master' %}
          {% assign icon_color = block.settings.color | default: '#000' %}
          {% assign link_text = block.settings.link_text | default: 'View All' %}
          <div class="resource-icon-wrapper">
            <a
              class="resource-icon"
              href="/blogs/re-nuble/tagged/{{ tag_name }}"
              style="background-color: {{ icon_color }}">
              <div class="icon-wrapper">
                <img src="{{ icon_url }}" alt="{{ block.settings.title }}" />
              </div>
            </a>
            {% if block.settings.title %}
              <h3>
                <a href="/blogs/re-nuble/tagged/{{ tag_name }}">
                  {{ block.settings.title }}
                </a>
              </h3>
            {% endif %}
            {% if block.settings.subtext %}
              {{ block.settings.subtext }}
            {% endif %}
            <a class="see-all-link" href="/blogs/re-nuble/tagged/{{ tag_name }}">
              {{ link_text }}
            </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Resource Center",
    "blocks": [
      {
        "type": "link_icon",
        "name": "Link Icon",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "tag",
            "label": "Tag name"
          },
          {
            "type": "richtext",
            "id": "subtext",
            "label": "Subtext"
          },
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          }, {
            "type": "color",
            "id": "color",
            "label": "Color"
          }, {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
          }, {
            "type": "text",
            "id": "link_text",
            "label": "Link text ie. View All"
          }, {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Only use this for items that should link to a specific url (not a blog)"
          }
        ]
      }
    ]
  }
{% endschema %}