<div class="search-template" data-section-type="search">

  {% assign searchTerms = search.terms | downcase %}

  {% capture header_title %} {{ 'general.search.title' | t }} {% endcapture %}
  {% include 'page_header' with header_title %}

  <div class="wrapper wrapper--margins search-results-wrapper">
    <div class="search-results">

      <div class="articles-products-block">
        <div class="block-header">
          <h2>Articles & Products</h2>
        </div>
  
        {% paginate search.results by 24 %}
  
          {% if search.performed %}
    
            <div class="search-results-collection collection-list grid-uniform small-gutter">
            {% assign grid_item_width = 'small--one-whole medium--one-third large--one-third' %}
    
              {% for item in search.results %}
    
                {% if item.object_type == 'product' %}
                  {% assign product = item %}
                  {% include 'product-grid-item', grid_item_width: grid_item_width %}
                {% else %}
                  <div class="product grid__item {{ grid_item_width }} text-center">
    
                    {% if item.featured_image %}
                      {% assign img = item.featured_image %}
                    {% elsif item.image %}
                      {% assign img = item.image %}
                    {% else %}
                      {% assign img = '' %}
                    {% endif %}
    
                    {% if img != blank %}
                      <a href="{{ item.url }}" class="grid__image">
                        <div class="product__image-wrapper" style="padding-top:{{ 1 | divided_by: img.aspect_ratio | times: 100}}%;">
                        {% assign img_url = item | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                          <img class="no-js lazyload"
                            data-src="{{ img_url }}"
                            data-widths="[108, 360, 375, 414, 568, 684, 720, 732, 736, 768, 1024, 1200, 1296, 1512, 1728, 1944, 2048]"
                            data-aspectratio="{{ img.aspect_ratio }}"
                            data-sizes="auto"
                            data-parent-fit="width"
                            alt="{{ img.alt | escape | default: item.title }}">
                        </div>
                            <noscript>
                              <img src="{{ img | img_url: '580x' }}"
                                srcset="{{ img | img_url: '580x' }} 1x, {{ img | img_url: '580x', scale: 2 }} 2x"
                                alt="{{ img.alt | escape | default: item.title }}" style="opacity:1;">
                            </noscript>
    
                      </a>
                    {% endif %}
    
                    <p class="h3">{{ item.title | link_to: item.url }}</p>
    
                    {% if img == blank %}
                      <p class="excerpt">{{ item.content | strip_html | truncatewords: 50 }}</p>
                    {% endif %}
    
                  </div>
                {% endif %}
    
              {% endfor %}
    
            </div>
    
            {% include 'page_pagination' %}
    
          {% endif %}
    
          <form action="/search" method="get" class="search-bar text-center" role="search">
            <h2 class="home-section-title less-margin">{{ 'general.search.label' | t }}</h2>
            <input type="search" name="q" value="{{ search.terms | escape }}">
            <button type="submit" class="btn btn--regular btn--dark btn--fill">
              {{ 'general.search.submit' | t }}
            </button>
          </form>
    
        {% assign sp_paginate_by = paginate.page_size %}{% endpaginate %}
      </div>

      {%- capture 'downloads_results' -%}
        {% for resource_title in shop.metafields.globals.resource_title %}
            {% assign resource_title_downcase = resource_title | downcase %}
            {% assign resource_type = shop.metafields.globals.resource_type[forloop.index0] %}
            {% assign resource_key_words = shop.metafields.globals.resource_key_words[forloop.index0] | downcase %}
            {% if resource_type == 'pdf' %}
            {% if resource_title_downcase contains searchTerms or resource_key_words contains searchTerms %}
                {% assign pdf = shop.metafields.globals.resource_pdf[forloop.index0] | first %}
                {% if pdf %}
                {% assign pdf_src = pdf.src %}
                {% endif %}
                <div class="pdf-resource-item">
                <p class="pdf-resource-item__title">{{ resource_title }}</p>
                <a class="pdf-resource-item__download" target="_blank" download href="{{ pdf_src }}">
                    <img src="{{ 'download.png' | asset_url }}" alt="download" />
                </a>
                </div>
            {% endif %}
            {% endif %}
        {% endfor %}
      {%- endcapture -%}
      {%- capture 'video_results' -%}
        {% for resource_title in shop.metafields.globals.resource_title %}
            {% assign resource_title_downcase = resource_title | downcase %}
            {% assign resource_type = shop.metafields.globals.resource_type[forloop.index0] %}
            {% assign resource_key_words = shop.metafields.globals.resource_key_words[forloop.index0] | downcase %}
            {% if resource_type == 'video' %}
                {% if resource_title_downcase contains searchTerms or resource_key_words contains searchTerms %}
                    {% assign youtube = shop.metafields.globals.resource_video_url[forloop.index0] %}
                    {% assign image = shop.metafields.globals.resource_image[forloop.index0] | first %}
                    {% render 'video-resource-item' title: resource_title, youtube: youtube, image: image %}
                {% endif %}
            {% endif %}
        {% endfor %}
      {%- endcapture -%}
        {% if downloads_results.size or video_results.size %}
            <div class="resources-block">
                {%- if downloads_results != blank -%}
                    <div class="block-header">
                        <h2>Resource Downloads</h2>
                    </div>
                    <div class="block-content">
                        {{ downloads_results }}
                    </div>
                {%- endif -%}
                
                {% if video_results != blank %}
                    <div class="block-header">
                        <h2>Video Resources</h2>
                    </div>
                    <div class="block-content videos-block-content">
                        {{ video_results }}
                    </div>
                    <div id="video-modal" class="video-modal">
                        <div class="close-modal-icon">+</div>
                            <div class="video-modal__container">
                            <iframe
                                width="560"
                                height="315"
                                src=""
                                frameborder="0"
                                allowfullscreen></iframe>
                            </div>
                      </div>
                    </div>
                    {% comment %} <script>
                        $('.video-resource-item').click(function(e) {
                            $('#video-modal').addClass('open');
                            $('#video-modal iframe').attr('src', 'https://www.youtube.com/embed/' + $(this).data('youtube-id') + '?autoplay=1');
                          });
                      
                          $('#video-modal .close-modal-icon').click(function(e) {
                            $('#video-modal').removeClass('open');
                            $('#video-modal iframe').attr('src', '');
                          });
                    </script> {% endcomment %}
                {% endif %}
            </div>
        {% endif %}

    </div>
  </div>

</div>
{% if sp_paginate_by %}{% render 'spurit_po2_collection_template_snippet', paginate_by: sp_paginate_by %}{% endif %}