{% assign header_title = page.title %}
{% include 'page_header' with header_title %}

{% assign hero_type = page.metafields.hero.type %}
{% assign hero_header_text = page.metafields.hero.header_text %}
{% assign hero_image = page.metafields.hero.background_image %}
{% assign footer_icons = page.metafields.page_footer.icon %}
{% assign footer_titles = page.metafields.page_footer.title %}
{% assign footer_texts = page.metafields.page_footer.text %}

<div class="wrapper wrapper--margins wrapper__article">
  <div class="rte">
    {% if hero_image %}
      <div class="page-hero-wrapper {{ hero_type }}">
        {% for image in hero_image %}
          <img
            class="no-js lazyload"
            src="{{ image.src }}"
            alt="{{ image.alt }}" />
        {% endfor %}

        <div class="overlay-text-wrapper"></div>
        <div class="overlay-text-content">
          {% if hero_header_text != '' %}
            {{ hero_header_text.html }}
          {% endif %}
        </div>
      </div>
    {% endif %}

    {{ page.content }}

    {% if footer_icons %}
      {% assign boxes_size = footer_icons.size | minus: 1 %}
      <div class="page-footer-wrapper">
        {% for i in (0..boxes_size) %}
          <div class="footer-box">
            <div class="footer-box-header">
              <div class="icon-container">
                {% for image in footer_icons[i] %}
                  <img
                    class="no-js lazyload"
                    src="{{ image.src }}"
                    alt="{{ image.alt }}" />
                {% endfor %}
              </div>
              <h4>{{ footer_titles[i] }}</h4>
            </div>
            <p>{{ footer_texts[i] }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <hr class="border-primary w-16 mx-auto">
    <div class="text-center mt-20 mw-750 mx-auto">
      <p class="h3 text-primary font-bold" style="margin-bottom: 2rem;">Working together, we'll help you reduce your carbon emissions and increase your profitability from organics.</p>
      <a href="/pages/contact-us" class="btn btn--regular btn--color btn--outline">
        Contact Us Today
      </a>
    </div>
  </div>
</div>

{% style %}
  .page-footer-wrapper {
    grid-template-columns: repeat({{ page.metafields.page_footer.icon.size }}, 1fr);
  }
{% endstyle %}
